@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700|Material+Icons';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  height: 100%;
  width: 100%;
  overflow:hidden;
  margin:0;
  padding:0;
  font-family: Roboto, sans-serif;
}

header {
  height: 10vh;
  line-height: 10vh;
  padding: 0 20px;
  vertical-align:middle;
}

header > h1 {
  margin:0;
  display:inline-block;
}

header > .buttonBox {
  float:right;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}
h3 {
  margin-top: 5px;
  margin-bottom: 0;
}
table {
  height: 100%;
  width: 100%;
}
td {
  vertical-align: top;
  padding: 0;
}

button {
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #eee;
  color: #000;
  padding: 10px;
  margin: 0 5px;
  font-size: large;
}
button:hover:not(:disabled) {
  box-shadow: 2px 2px 5px #888;
}
button:disabled {
  opacity: 0.6;
}
button>* {
  opacity: 0.6;
  vertical-align: text-bottom;
}
button:hover:not(:disabled)>* {
  opacity: 1;
}


#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100vw;
  height:100vh;
  z-index: 1000;
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 0 20px;
  overflow: auto;
}

#overlayCloseButton {
  float:right;
  margin-top: 8px;
}

.blocklyTreeRow {
   -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#blocklyDiv {
  width: 100vw;
  height: 100vh;
}

#blocklyToolbox {
  display:none;
}