@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,400italic,500,500italic,700,700italic|Roboto+Mono:400,500,700|Material+Icons';
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/agate.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/androidstudio.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/arduino-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/arta.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/ascetic.min.css'; */
 /*@import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-cave-dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-cave-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-cave.dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-cave.light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-dune-dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-dune-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-dune.dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-dune.light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-estuary-dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-estuary-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-estuary.dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-estuary.light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-forest-dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-forest-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-forest.dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-forest.light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-heath-dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-heath-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-heath.dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-heath.light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-lakeside-dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-lakeside-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-lakeside.dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-lakeside.light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-plateau-dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-plateau-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-plateau.dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-plateau.light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-savanna-dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-savanna-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-savanna.dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-savanna.light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-seaside-dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-seaside-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-seaside.dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-seaside.light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-sulphurpool-dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-sulphurpool-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-sulphurpool.dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/atelier-sulphurpool.light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/brown-paper.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/brown_paper.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/codepen-embed.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/color-brewer.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/darkula.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/docco.min.css'; */
 @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/dracula.min.css'; 
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/far.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/foundation.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/github-gist.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/github.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/googlecode.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/grayscale.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/gruvbox-dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/gruvbox-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/hopscotch.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/hybrid.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/idea.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/ir-black.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/ir_black.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/kimbie.dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/kimbie.light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/magula.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/mono-blue.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/monokai-sublime.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/monokai.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/monokai_sublime.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/obsidian.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/paraiso-dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/paraiso-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/paraiso.dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/paraiso.light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/pojoaque.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/qtcreator_dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/qtcreator_light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/railscasts.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/rainbow.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/school-book.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/school_book.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/solarized-dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/solarized-light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/solarized_dark.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/solarized_light.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/sunburst.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/tomorrow-night-blue.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/tomorrow-night-bright.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/tomorrow-night-eighties.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/tomorrow-night.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/tomorrow.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/vs.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/xcode.min.css'; */
/* @import 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/zenburn.min.css'; */


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  height: 100%;
  width: 100%;
  overflow:hidden;
  margin:0;
  padding:0;
  font-family: Roboto, sans-serif;
}

header {
  height: 10vh;
  line-height: 10vh;
  padding: 0 20px;
  vertical-align:middle;
}

header > h1 {
  margin:0;
  display:inline-block;
}

header > .buttonBox {
  float:right;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}
h3 {
  margin-top: 5px;
  margin-bottom: 0;
}
table {
  height: 100%;
  width: 100%;
}
td {
  vertical-align: top;
  padding: 0;
}

button {
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #eee;
  color: #000;
  padding: 10px;
  margin: 0 5px;
  font-size: large;
}
button:hover:not(:disabled) {
  box-shadow: 2px 2px 5px #888;
}
button:disabled {
  opacity: 0.6;
}
button>* {
  opacity: 0.6;
  vertical-align: text-bottom;
}
button:hover:not(:disabled)>* {
  opacity: 1;
}


#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width:100vw;
  height:100vh;
  z-index: 1000;
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 0 20px;
  overflow: auto;
}

#overlayCloseButton {
  float:right;
  margin-top: 20px;
}

.blocklyTreeRow {
   -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#blocklyArea {
  width: 100vw;
  height: 90vh;
}

#blocklyDiv {
  position: absolute;
}

#blocklyToolbox {
  display:none;
}